
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container {
    width: 50%;
    height: 500px;
    margin: 100px auto;
    border-radius: 10px;

}

h1 {
    font-size: 3rem;
    font-family: 'Sigmar One', cursive;
}

h4 {
    font-family: 'Press Start 2P', cursive;
    margin: 10px 20px;
    line-height: 1.7;
}

button {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: none;
    background-color: black;
    cursor: pointer;
    margin-top: 50px;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    text-transform: uppercase;
    color: white;

    animation: wiggle 3s infinite;
}

@keyframes wiggle {
    0%{transform: rotate(0deg)}
    3%{transform: rotate(-8deg)}
    5%{transform: rotate(8deg)}
    7%{transform: rotate(0deg)}
    100%{transform: rotate(0deg)}
}


.gradient {
    background: #40E0D0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

